# Database Credentials
DB_USERNAME=postgres
DB_PASSWORD=observatory_secret
DB_NAME=observatory_db

# RabbitMQ Credentials
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# JWT Security
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Server Ports
BACKEND_PORT=8080
FRONTEND_PORT=3000
PROMETHEUS_PORT=9090
